<div class="container">
    <div class="row">
        <markdown [data]="comment.body" ngPreserveWhitespaces>
        </markdown>
    </div>
    <div class="row">
        <div class="col">
            <mat-button-toggle-group multiple (change)="toggleChange($event)" #editorGroup="matButtonToggleGroup">
                <mat-button-toggle value="edit" *ngIf="canEdit()">
                    <mat-icon>edit</mat-icon>
                </mat-button-toggle>                
            </mat-button-toggle-group>
        </div>
        <div class="col">
            {{comment.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}
        </div>
        <div class="col" *ngIf="author">
            {{author.pseudo}} ({{author.reputation}})
        </div>
        <div class="col-1">
            <button mat-icon-button tabindex="-1" *ngIf="canDelete()">
                <mat-icon (click)="delete()">delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="frm" class="form" [formGroup]="frm" novalidate #formDirective="ngForm" *ngIf="isFrmVisible">
                <!--<mat-form-field>
                    <input matInput placeholder="Body" [formControl]="ctlBody" value="{{ctlBody.value}}" required>
                    <mat-error class="field-error" *ngIf="ctlBody.hasError('required')">Required</mat-error>
                </mat-form-field>-->
                <div class="mt-2">
                    <button type="submit" mat-raised-button form="frm"
                        [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="editor_submit(formDirective)">Post</button>
                </div>
                <simplemde [formControl]="ctlBody" required></simplemde>
            </form>
        </div>
    </div>
</div>
